*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

/* Global classes */
.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    border: 1px solid red;
}

button {
    padding: 14px 24px;
    border: none;
    outline: none;
    background: blue;
}